body {
    background: rgb(240, 243, 243);
    color: rgba(10, 81, 246, 0.968);
    padding: 10px;
}
#all-contents { Rust;
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgba(61, 61, 149, 0.942);
   margin: 30 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style:dotted;
    border-color: rgb(252, 253, 253);
}
h1 {
    display: flex;
    align-items:center;
    color: hwb(0 100% 0%);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none ;
}
.nav-li {
    display: inline-box;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fffeff;
}

/* main container area beneath menu */
main {
    background: hwb(0 100% 0% / 0.785);
    display:flex;
    border-style:dotted;
    background-color: #fffeff;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 15px rgb(32, 74, 226) ridge;
    padding: 8px;
    font-family: skranji;
}
h2, h3 {
    margin: 0px;
}
